/*body {
  width: 100%;
  height: 100%;  
}

.container {
  display: flex;
  margin: 10px;
  font-family: 'Rubik', sans-serif;
}

.container h1, h2 {
  text-transform: uppercase;
}
.container .esquerda {
  width: 60%;
  display: flex;
 
}
.container .esquerda p {
  color: #52575c
}
.container .direita p {
  color: rgb(245, 236, 236);
  
}
.container .esquerda h1 {
  font:700 50px Rubik, sans-serif;
  color: #f55873;
}
.container .direita {
  display: flex;
  background: linear-gradient(to right, #ff5a5f, #f55873);
}
.esquerda .gente-direita {
  transform: rotate(270deg);
  letter-spacing: 10px;
  font: 700 60px/0 Rubik, sans-serif;
  float: left;
  color: #ff5a5f;
  margin-left: 370px;
  margin-top: -150px;
}
.direita .firme-esquerda {
  position: relative;
  transform: rotate(270deg);
  letter-spacing: 10px;
  font: 700 40px/0 Rubik, sans-serif;
  color: rgb(134, 27, 27);
  margin-top: 150px;
  
}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  font-family:Rubik, sans-serif;
}
.container div {
  width: 50%;
}
.container .esquerda {
  display: flex;
  height: 100vh;
  background: rgb(235, 146, 146);
  padding: 50px 5px 20px 50px;
  color: #52575c
}
.container .esquerda h1 {
  font:700 50px Rubik, sans-serif;
  color: #f55873;
}

.container .gente {
  position: fixed;
  background: #fff;
  transform: rotate(270deg);
  letter-spacing: 10px;
  font: 700 60px Rubik, sans-serif;
  color: #ff5a5f;
  margin-left: 235px;
  text-transform: uppercase;
}
.container .direita {
  display: flex;
  background: rgb(206, 112, 112);
  padding-left: 150px;
  padding-top: 50px;
  color:#fff
}
.container .firme {
  position: fixed;
  background: #fff;
  transform: rotate(270deg);
  letter-spacing: 10px;
  font: 700 60px Rubik, sans-serif;
  color: rgb(134, 27, 27);
  margin-left: -438px;
  text-transform: uppercase;
 
}



